.encabezado{
    display: flex;
    width: 940px; 
    position: relative;
    margin: 30px 0 0 125px;
}

.titulo-encabezado{
    display: flex;
    text-align: center;
    font-size: 2em; /*tamaño de la fuente*/
    margin: 10px 150px 1em;
    clear: left;

}

body{
    background-color: #e5e5e5;
}


main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.ingresarmensaje{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    color: #0A3871;
    /* background-image: url("Imagenes/Muñeco.png"); */
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;

}

p{
    margin-top: 5px;
    margin-left: 90px;
    opacity: 80%;
    color: #495057;
}

textarea{
    resize: none;
}


.encriptar{
    margin-top: 20px;
    margin-left: 145px;
    width: 25%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: blue;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.encriptar:hover{
    background: darkblue;
    transform: scale(1.1);
}

.desencriptar{
    margin-top: 20px;
    margin-left: 90px;
    width: 25%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #999999;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.desencriptar:hover{
    background: darkwhile;
    transform: scale(1.1);
}

.copiarMensaje{ /*este es para el segundo text area*/
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("Imagenes/Muñeco.png");
    color: #495057;
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
}

.copiar{ /*este es del boton copiar*/
    margin-top: 37px;
    margin-left: 190px;
    width: 25%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #999999;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}

.copiar:hover{
    background: darkwhile;
    transform: scale(1.1);
}

/*aca empieza el responsive*/

@media screen and (max-width:480px) {

    .encabezado{
        margin-left: auto;
    }

    .ingresarmensaje{
        margin-left: 200px;
    }

    .signo-alert{
        margin-left: 200px;
    }

    .encriptar{
        margin-left: 220px;
    }
    
    .mensajecopiado{
        position: absolute;
        margin-top: 650px;
        margin-left: 180px;
    }


    
}

